<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond $1 !^.*\.(html|css|js)
    RewriteRule ^/?t/(.*)$ / [L]
</IfModule>

<IfModule pagespeed_module>
    ModPagespeed Off
</IfModule>
